html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.field-validation-error {
    color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input.valid {
    border: 1px solid #16a085;
}

.validation-summary-errors {
    color: #b94a48;
}

table {
    border-collapse: collapse;
}

tbody tr {
    border-radius: 20px;
    transition: background 0.3s;
    text-align: center;
}


tbody tr:hover {
    background: gray;
    border-radius: 20px;
}

    tbody tr td:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    tbody tr td:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

thead th, thead td {
    padding: 20px;
}